<div class="page-element stretch-box show-box" [ngClass]="{'content-left-reverse':(app.currentCustomer)}">
  <div class="show-box-preview" *ngFor="let customer of customers" (click)="app.showCustomer(customer);"
       [ngClass]="{active:(app.currentCustomer === customer)}">
    <div class="show-box-background" [ngStyle]="{
        background:'url(' +customer.image+')',
        backgroundSize:'cover',
        backgroundPosition:'center'
    }">
    </div>
  </div>
</div>
<div id="showBox" class="show-box-content content-right-reverse"
     [ngClass]="{active:(app.currentCustomer)}">
  <div *ngFor="let customer of customers" class="show-box-content-element flex-box column"
       [ngClass]="{active:(app.currentCustomer === customer)}">
    <div class="show-box-title">
      <h2>{{customer.name}}</h2>
    </div>
    <div class="show-box-image">
      <a href="{{customer.website}}" target="_blank">
        <img *ngIf="customer.image" [src]="customer.image" alt="customer.name"/>
      </a>
    </div>
    <div class="show-box-text" *ngIf="customer.description">
      <h3>{{app.text(customer.description)}}</h3>
    </div>
    <div class="show-box-link" *ngIf="customer.website">
      <label>
        <span>
              {{app.textSnippet('website')}}
        </span>
        <a href="{{customer.website}}" target="_blank"><b>{{customer.website}}</b></a>
      </label>
    </div>
    <label *ngIf="customer.task || customer.tasks">
        <span>
              {{app.textSnippet('my_tasks')}}
        </span>
      <span *ngIf="customer.task">{{app.text(customer.task)}}</span>
      <ul *ngIf="customer.tasks">
        <li *ngFor="let task of customer.tasks">
          <span>{{app.text(task)}}</span>
        </li>
      </ul>
    </label>
    <label *ngIf="customer.technologies">
        <span>
              {{app.textSnippet('used_technologies')}}
        </span>
      <ul *ngIf="customer.technologies">
        <li *ngFor="let technology of customer.technologies">
          <span>{{app.text(technology)}}</span>
        </li>
      </ul>
    </label>
  </div>
</div>
