<div class="social-media-buttons">
  <a *ngIf="githubUser" href="https://github.com/{{githubUser}}" target="_blank" rel="me">
    <fa-icon [icon]="githubIcon" size="lg"></fa-icon>
  </a>
  <a *ngIf="xingProfile" href="https://www.xing.com/profile/{{xingProfile}}" target="_blank" rel="me">
    <fa-icon [icon]="xingIcon" size="lg"></fa-icon>
  </a>
  <a *ngFor="let ytChannel of youtubeChannels" href="https://www.youtube.com/channel/{{ytChannel}}" target="_blank" rel="me">
    <fa-icon [icon]="youtubeIcon" size="lg"></fa-icon>
  </a>

  <a *ngFor="let scUser of soundcloudUsers" href="https://soundcloud.com/{{scUser}}" target="_blank" rel="me">
    <fa-icon [icon]="soundcloudIcon" size="lg"></fa-icon>
  </a>

</div>
