<div class="social-media-buttons">
  <a *ngIf="accounts.xing" href="https://www.xing.com/profile/{{accounts.xing}}" target="_blank" rel="me">
    <fa-icon [icon]="xingIcon" size="lg"></fa-icon>
  </a>
  <a *ngIf="accounts.linkedin" href="https://www.linkedin.com/in/{{accounts.linkedin}}" target="_blank" rel="me">
    <fa-icon [icon]="linkedInIcon" size="lg"></fa-icon>
  </a>
  <a *ngIf="accounts.github" href="https://github.com/{{accounts.github}}" target="_blank" rel="me">
    <fa-icon [icon]="githubIcon" size="lg"></fa-icon>
  </a>
  <a *ngIf="accounts.bitbucket" href="https://bitbucket.com/{{accounts.bitbucket}}" target="_blank" rel="me">
    <fa-icon [icon]="bitbucketIcon" size="lg"></fa-icon>
  </a>
  <a *ngIf="accounts.docker" href="https://hub.docker.com/u/{{accounts.docker}}" target="_blank" rel="me">
    <fa-icon [icon]="dockerIcon" size="lg"></fa-icon>
  </a>
</div>
