<div class="page-element show-box" [ngClass]="{'content-left':(app.currentContent)}">
  <div class="show-box-preview" *ngFor="let box of contents"
       (click)="app.showContent(box);"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-background" [ngStyle]="{
        background:'url(' +box.image+')',
        backgroundSize:'cover',
        backgroundPosition:'center'
    }">
      <h2>{{app.text(box.title)}}</h2>
    </div>
  </div>
</div>
<div id="showBox" class="show-box-content content-right"
     [ngClass]="{active:(app.currentContent)}">
  <div *ngFor="let box of contents" class="show-box-content-element flex-box column"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-title">
      <h2>{{app.text(box.title)}}</h2>
    </div>
    <div class="show-box-text" *ngIf="box.text">
      <p>{{app.text(box.text)}}</p>
    </div>
    <div class="show-box-list flex-item" *ngIf="box.list">
      <table class="table">
        <thead>
        <tr>
          <th colspan="2">
            {{app.textSnippet('programming_languages')}}
          </th>
          <th>
            {{app.textSnippet('frameworks')}} / {{app.textSnippet('tools')}}
          </th>
          <th>
            {{app.textSnippet('experience_worth')}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pLang of box.programmingLanguages">
          <th>
            <img *ngIf="pLang.icon" [src]="pLang.icon"/>
            {{pLang.name}}
          </th>
          <td>
            {{app.text(pLang.description)}}
          </td>
          <td>
      <span *ngFor="let fw of app.aliasObjects(box.frameworks, pLang.alias, 'language')">
        <img *ngIf="fw.icon" [src]="fw.icon"/>
        {{fw.name}}
      </span>
          </td>
          <td>
            {{pLang.experienceWorth}}
          </td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th colspan="2">
            {{app.textSnippet('software')}}
          </th>
          <th>
            {{app.textSnippet('usement')}}
          </th>
          <th>
            {{app.textSnippet('experience_worth')}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let softW of box.software">
          <th>
            <img *ngIf="softW.icon" [src]="softW.icon"/>
            {{softW.name}}
          </th>
          <td>
            {{app.text(softW.description)}}
          </td>
          <td>
      <span *ngFor="let sw of app.aliasObjects(box.usement, softW.alias, 'software')">
        <img *ngIf="sw.icon" [src]="sw.icon"/>
        {{sw.name}}
      </span>
          </td>
          <td>
            {{softW.experienceWorth}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
