<div class="page-element align-center"
     [ngClass]="{'inactive':(app.currentContent)}" (click)="app.currentContent = null">
  <div class="inside flex-box column text-container">
    <div>
      <h1 class="title-large">
        {{app.text(config.app.title)}}
      </h1>
      <h2>
        {{app.text(config.app.subtitle)}}
      </h2>
      <div class="keywords">
        <h1 class="title-small" *ngFor="let keyword of config.app.keywords">
          {{app.text(keyword)}}
        </h1>
      </div>
      <b>
        {{app.text(config.app.job)}}
      </b><br>
      <span>{{app.text(config.app.location)}}</span><br>
      <span>{{app.text(config.app.remote)}}</span>
    </div>
    <app-social-media-buttons
      [accounts]="app.config.socialMediaAccounts"
    ></app-social-media-buttons>
    <div class="flex-item">
      <p class="center-item">
        {{app.text(config.app.description)}}
      </p>
    </div>
  </div>
</div>
<div class="page-element show-box" [ngClass]="{'content-left':(app.currentContent), 'no-content':(!app.currentContent)}">
  <div class="show-box-preview" *ngFor="let box of contents"
       (click)="app.showContent(box, true);"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-background" [ngStyle]="{
        background:'url(' +box.image+')',
        backgroundSize:'cover',
        backgroundPosition:'center'
    }">
    </div>
    <h1>{{app.text(box.title)}}</h1>
  </div>
</div>
<div id="showBox" class="show-box-content content-right"
     [ngClass]="{active:(app.currentContent)}">
  <div *ngFor="let box of contents" class="show-box-content-element flex-box column"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-title">
      <h1>{{app.text(box.title)}}</h1>
    </div>
    <div class="show-box-text" *ngIf="box.text">
      <p>{{app.text(box.text)}}</p>
    </div>
    <div class="show-box-list flex-item" *ngIf="box.list">
      <ul class="list center-item">
        <li class="list-item" *ngFor="let li of box.list">
          <span class="list-title" *ngIf="li.title">
            <b>{{app.text(li.title)}}</b>
          </span>
          <p class="list-discription" *ngIf="li.description">
            {{app.text(li.description)}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
