<div class="page-element show-box" [ngClass]="{'content-left':(app.currentContent), 'no-content':(!app.currentContent)}" >
  <div class="show-box-preview" *ngFor="let box of contents"
       (click)="app.showContent(box, true);"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-background" [ngStyle]="{
        background:'url(' +box.image+')',
        backgroundSize:'cover',
        backgroundPosition:'center'
    }">
    </div>
    <h2>{{app.text(box.title)}}</h2>
  </div>
</div>
<div id="showBox" class="show-box-content content-right"
     [ngClass]="{active:(app.currentContent)}">
  <div *ngFor="let box of contents" class="show-box-content-element flex-box column"
       [ngClass]="{active:(app.currentContent === box)}">
    <div class="show-box-title">
      <h2>{{app.text(box.title)}}</h2>
    </div>
    <div class="show-box-text" *ngIf="box.toolText">
      <p>{{app.text(box.toolText)}}</p>
    </div>
    <div class="show-box-list flex-item" *ngIf="box.list">
      <table class="table">
        <thead *ngIf="box.software && box.software.length" [title]="app.textSnippet('software')">
        <tr>
          <th colspan="3">
            {{app.textSnippet('software')}}
          </th>
          <th class="mobile-hide">
            {{app.textSnippet('experience_worth')}}
          </th>
        </tr>
        </thead>
        <tbody *ngIf="box.software && box.software.length">
        <tr *ngFor="let softW of box.software">
          <th>
            <img *ngIf="softW.icon" class="icon" [src]="softW.icon"/>
            <a *ngIf="softW.link" href="{{softW.link}}" target="_blank">{{softW.company}}</a>
            <span *ngIf="!softW.link">{{softW.company}}</span>
          </th>
          <td colspan="2">
            <ul>
              <li *ngFor="let product of softW.products">
                <img *ngIf="product.icon" class="icon icon-small" [src]="product.icon"/>
                <a *ngIf="product.link" href="{{product.link}}" target="_blank">{{product.name}}</a>
                <span *ngIf="!product.link">{{product.name}}</span>
              </li>
            </ul>
          </td>
          <td class="mobile-hide">
            <ul>
              <li *ngFor="let product of softW.products">
                <app-experience-worth [value]="app.experienceWorth(product.name)"></app-experience-worth>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
        <thead *ngIf="box.programmingLanguages && box.programmingLanguages.length"
               [title]="app.textSnippet('programming_languages')">
        <tr>
          <th colspan="2">
            {{app.textSnippet('programming_languages')}}
          </th>
          <th>
            {{app.textSnippet('frameworks')}} / {{app.textSnippet('tools')}}
          </th>
          <th class="mobile-hide">
            {{app.textSnippet('experience_worth')}}
          </th>
        </tr>
        </thead>
        <tbody *ngIf="box.programmingLanguages && box.programmingLanguages.length">
        <tr *ngFor="let pLang of box.programmingLanguages">
          <th>
            <img *ngIf="pLang.icon" class="icon" [src]="pLang.icon"/>
            {{pLang.name}}
          </th>
          <td>
            {{app.text(pLang.description)}}
          </td>
          <td>
            <ul>
              <li *ngFor="let fw of app.aliasObjects(box.frameworks, pLang.alias, 'language')">
                <img *ngIf="fw.icon" class="icon icon-small" [src]="fw.icon"/>
                <a *ngIf="fw.link" href="{{fw.link}}" target="_blank">{{fw.name}}</a>
                <span *ngIf="!fw.link">{{fw.name}}</span>
              </li>
              <li *ngIf="!app.aliasObjects(box.frameworks, pLang.alias, 'language').length"><span> - </span></li>
            </ul>
          </td>
          <td class="mobile-hide">
            <ul>
              <li *ngFor="let fw of app.aliasObjects(box.frameworks, pLang.alias, 'language')">
                <app-experience-worth [value]="app.experienceWorth(fw.alias)"></app-experience-worth>
              </li>
              <li *ngIf="!app.aliasObjects(box.frameworks, pLang.alias, 'language').length">
                <app-experience-worth [value]="app.experienceWorth(pLang.alias)"></app-experience-worth>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
